@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.hide{
    display: none;
 }

body{
    /* margin: 20px 50px; */
    width: 1158.61px;
    margin: 20px auto;
}

header nav ul li{
    list-style: none;
}

.orange-color{
    color: rgb(254, 163, 1);
}

.blue-color{
    color: rgb(1, 172, 253);
}

.green-color{
    color: rgb(5, 212, 223);
}

.violet-color{
    color: rgb(93, 88, 239)
}


/* shared style */
.display-flex{
    display: flex;
}   


/* header style */

header nav ul li a{
   text-decoration: none;
}

.header-title{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}

.logo-text-wrapper{
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    gap: 50px;
}

.nav-item{
    font-size: 20px;
    font-weight: 700;
}

.btn-orange{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    /* color: white; */
    border: none;
    cursor: pointer;
}

/*  banner style */

.banner-container{
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.banner-items{
    width: 640px;
}

.banner-item-text{
    font-size: 56px;
    font-weight: 700;
    margin-top: 24px 0px;
}

.banner-desc{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 34px;
    margin-top: 24px;
}

.btn-black{
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    /* Black */
    background: rgb(17, 17, 17);
}

/* Curriculum style */

.curriculum-text{
    text-align: center;
    margin-bottom: 80px;
}

.curriculumn-items{
  justify-content: center;
  align-items: center;
  gap: 28px;
  
}

.curriculumn-item{
    
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.curriculum-img{
    width: 137.44px;
    height: 124.69px;
}

.curriculumn-title{
    width: 231.06px;
    height: 31.13px;
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.curriculumn-desc{
    width: 286.26px;
    height: 74.51px;
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
}

.curriculum-btn{
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
    background-color: white;
    border: none;
}

@media screen and (max-width:576px) {  

    .hamburger {
        display: block; /* Show hamburger button */
    }
    .nav-items {
        display: none; /* Hide menu by default */
        flex-direction: column;
        position: absolute;
        /* top: 50px;
        right: 20px; */
        background-color: #333;
        border: 1px solid #444;
        width: 150px;
        padding: 10px 0;
    }
    .btn-orange{
        display: none;
    }

    .header-container{
        border: 1px solid orange;
        padding: 10px;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .curriculumn-items{
        flex-direction: column;
    }
    .curriculumn-item{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
}