@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.hide{
    display: none;
 }

body{
    margin: 20px auto;
}

header{   
    margin: 20px auto;
}
header nav ul li{
    list-style: none;
}

/* shared style */
.bg-area{
    width: 1158.61px;
    margin: 20px auto;
}

.orange-color{
    color: rgb(254, 163, 1);
}

.blue-color{
    color: rgb(1, 172, 253);
}

.green-color{
    color: rgb(5, 212, 223);
}

.violet-color{
    color: rgb(93, 88, 239)
}



.display-flex{
    display: flex;
}   


/* header style */

header nav ul li a{
   text-decoration: none;
}

.header-title{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}

.logo-text-wrapper{
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: auto;
}

.nav-items{
    gap: 50px;
}

.nav-item{
    font-size: 20px;
    font-weight: 700;
}

.btn-orange{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    /* color: white; */
    border: none;
    cursor: pointer;
}

/*  banner style */

.banner-container{
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.banner-items{
    width: 640px;
}

.banner-item-text{
    font-size: 56px;
    font-weight: 700;
    margin-top: 24px 0px;
}

.banner-desc{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 34px;
    margin-top: 24px;
}

.btn-black{
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    /* Black */
    background: rgb(17, 17, 17);
}

/* Curriculum style */

.curriculumn-container{
    background: url('/assets/bg.png');
}

.curriculum-text{
    text-align: center;
    margin-bottom: 80px;
}

.curriculumn-items{
  justify-content: center;
  align-items: center;
  gap: 28px;
  
}

.curriculumn-item{
    
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.curriculum-img{
    width: 137.44px;
    height: 124.69px;
}

.curriculumn-title{
    width: 231.06px;
    height: 31.13px;
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.curriculumn-desc{
    width: 286.26px;
    height: 74.51px;
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
}

.curriculum-btn{
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
    background-color: white;
    border: none;
}
.curriculumn-btn-arrow{
    text-align: center;
}
.curriculumn-btn-arrow button{
    margin-right: 10px;
}

.curriculm-btn-arrow-icon{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    /* Orange */
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-family: Font Awesome 5 Free;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    border: none;
    margin-top: 80px;
    padding: 5px;
}

/* stories style */
.stories-container{
    height: 630.52px;
    height: 1018.02px;
    background: url('/assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    margin: auto;
}

.stories-items{
    width: 1160px;
    height: 630.52px;
    margin: auto;
    gap: 19px;
    margin-top: 85px;
}

.stories-left-container{
    width: 540px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    text-align: left;
    align-items: center;
    justify-content: center;
}

.stories-left-img{
    border-radius: 16px 16px 0px 0px;
}

.stories-left-title{
    /* width: 402.49px; */
    font-size: 24px;
    font-weight: 700;
    margin-top: 51px;
    margin-left: 38px;
    margin-bottom: 34px;
}

.stories-left-desc{
    width: 433.06px;
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-bottom: 34px; */
    margin-left: 38px;
}

.stories-text{
    text-align: center;
    margin-top: 60px;
}

.stories-right-container{
    width: 601px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.stories-right-items{
    width: 290.69px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    /* text-align: center; */
    /* align-items: center; */
}

.stories-right-item-img{
    width: 291px;
    border-radius: 16px 16px 0px 0px;
}

.stories-right-item-desc{
    width: 198.04px;
    font-size: 15.34px;
    font-weight: 700;
    text-align: left;
    margin-left: 34px;
    margin-top: 35px;
}

.btn-black-ex{
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    /* Black */
    background: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 60px;

}

@media screen and (max-width:576px) {  

    .hamburger {
        display: block; /* Show hamburger button */
    }
    .nav-items {
        display: none; /* Hide menu by default */
        flex-direction: column;
        position: absolute;
        /* top: 50px;
        right: 20px; */
        background-color: #333;
        border: 1px solid #444;
        width: 150px;
        padding: 10px 0;
    }
    .btn-orange{
        display: none;
    }

    .header-container{
        border: 1px solid orange;
        padding: 10px;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .curriculumn-items{
        flex-direction: column;
    }
    .curriculumn-item{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
}